<!-- bootstrap5 적용 -->
<!-- <!doctype html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <title>Melon List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
  </head>
  <body>
  <div class="container">
    <h1 class="fw-bold">Melon List</h1>

    <form action="" method="get" autocomplete="off" class="my-4">
      <input type="text" name="query" placeholder="검색어를 입력해주세요." autofocus="autofocus" value="{{ query }}" class="form-control">
    </form>

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>곡명</th>
          <th>가수</th>
        </tr>
      </thead>
      <tbody>
        {% for song in song_list %}
          <tr>
            <td>{{ song.곡명 }}</td>
            <td>{{ song.가수 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </body>

</html> -->


<!-- tailwindcss 적용 -->
<!-- <!doctype html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <title>Melon List</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
  <div class="container">
    <h1 class="font-bold text-2xl">Melon List</h1>

    <form action="" method="get" autocomplete="off" class="my-4">
      <input type="text" name="query" placeholder="검색어를 입력해주세요." autofocus="autofocus" value="{{ query }}" class="w-full p-2 border rounded focus:outline-none focus:ring">
    </form>

    <table class="min-w-full bg-white border border-gray-300 divide-y divide-gray-300">
      <thead>
        <tr class="text-center">
          <th class="py-2 px-4 border-b">곡명</th>
          <th class="py-2 px-4 border-b">가수</th>
        </tr>
      </thead>
      <tbody>
        {% for song in song_list %}
          <tr class="hover:bg-gray-200">
            <td class="py-2 px-4">{{ song.곡명 }}</td>
            <td class="py-2 px-4">{{ song.가수 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </body>

</html> -->


<!-- CSR #1 (임베딩 JSON + 바닐라 JS) -->
<!-- <!doctype html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <title>Melon List</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
  <div class="container">
    <h1 class="font-bold text-2xl">Melon List</h1>

    <form action="" method="get" autocomplete="off" class="my-4">
      <input type="text" name="query" placeholder="검색어를 입력해주세요." autofocus="autofocus" value="{{ query }}" class="w-full p-2 border rounded focus:outline-none focus:ring">
    </form>

    <table class="min-w-full bg-white border border-gray-300 divide-y divide-gray-300"
            id="song-list-table">
      <thead>
        <tr class="text-center">
          <th class="py-2 px-4 border-b">곡명</th>
          <th class="py-2 px-4 border-b">가수</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>

    {{ song_list_data|json_script:"song-list-json" }}
    <script>
      // id가 song-list-json인 DOM 요소를 참조하여 내용을 개발자 도구로 열어서 console창으로 확인
      // const jsonString = document.querySelector("#song-list-json").textContent;
      // console.log(jsonString)

      // 문자열을 javascript 객체로 변환하여 사용
      const songList = JSON.parse(document.querySelector("#song-list-json").textContent);
      // console.log(songList)
      songList.forEach(song => {  // Arrow Function
        const tr = document.createElement("tr");
        tr.innerHTML = `
        <td>${song.곡명}</td>
        <td>${song['가수']}</td>
        `;
        // id가 song-list-table 안에있는 tbody에 tr을 추가
        document.querySelector("#song-list-table tbody").append(tr);
      })
    </script>
  </div>
  </body>

</html> -->

<!-- CSR #2  (API JSON + 바닐라 JS) -->
<!-- <!doctype html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <title>Melon List</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
  <div class="container">
    <h1 class="font-bold text-2xl">Melon List</h1>

    <form action="" method="get" autocomplete="off" class="my-4">
      <input type="text" name="query" placeholder="검색어를 입력해주세요." autofocus="autofocus" value="{{ query }}" class="w-full p-2 border rounded focus:outline-none focus:ring">
    </form>

    <table class="min-w-full bg-white border border-gray-300 divide-y divide-gray-300"
            id="song-list-table">
      <thead>
        <tr class="text-center">
          <th class="py-2 px-4 border-b">곡명</th>
          <th class="py-2 px-4 border-b">가수</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>

    <script>
      fetch("api/song-list.json")
        .then(response => response.json())
        .then(songList => {
          songList.forEach(song => {  // Arrow Function
          const tr = document.createElement("tr");
          tr.innerHTML = `
            <td>${song.곡명}</td>
            <td>${song['가수']}</td>
            `;
        // id가 song-list-table 안에있는 tbody에 tr을 추가
        document.querySelector("#song-list-table tbody").append(tr);
      });
    });
    </script>
  </div>
  </body>

</html> -->

<!-- CSR #3 (API JSON + 리액트) -->
<!doctype html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <title>Melon List</title>
    <!-- 리액트 라이브러리와 JSX 문법 변환을 위한 라이브러리 추가 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.22.16/babel.min.js"></script>
  </head>
  <body>
  <div class="container">
    <h1 class="font-bold text-2xl">Melon List</h1>

    <form action="" method="get" autocomplete="off" class="my-4">
      <input type="text" name="query" placeholder="검색어를 입력해주세요." autofocus="autofocus" value="{{ query }}" class="w-full p-2 border rounded focus:outline-none focus:ring">
    </form>

    <table class="min-w-full bg-white border border-gray-300 divide-y divide-gray-300"
            id="song-list-table">
      <thead>
        <tr class="text-center">
          <th class="py-2 px-4 border-b">곡명</th>
          <th class="py-2 px-4 border-b">가수</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>

    <script type="text/babel">
      function SongList() {
        const [songList, setSongList] = React.useState([]);

        React.useEffect(() => {
          fetch("api/song-list.json")
            .then(response => response.json())
            .then(_songList => {
              setSongList(_songList);
          });
        }, []);
        return (
          <> 
            {songList.map(song => {
              return (
                <tr key={song.id}>
                  <td>{song.곡명}</td>
                  <td>{song.가수}</td>
                </tr>
              )
            })}
          </>
        )
      }
      ReactDOM.render(
        <SongList />,
        document.querySelector("#song-list-table tbody")
      )
    </script>
  </div>
  </body>

</html>